* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.contact_list {
  background: #ccc;
  padding: 1rem;
  margin: 5px;
  border-radius: 10px;
}

.contact {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

.contact_adder {
  background: #ccc;
  padding: 1rem;
  margin: 5px;
  border-radius: 10px;
}

.nav_bar {
  background: #9400d3;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
}

.simpleAdder input {
  border: 0px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
}

.simpleAdder button,
.contact_list button {
  border: 0px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
  background: #8500bd;
  color: #fff;
  cursor: pointer;
}
